<div class="container mt-5 pl-4">
    <h1 class="text-center">My
        <span class="font-weight-bold">Representative</span> Account</h1>
    <br>
    <h2>Approve Posts</h2>
    <div class="jumbotron">
        <form action="/approvepost" method="post">
            <input class="form-control" name="Title" id="Title" style="background-color: rgb(100, 100, 100, 0.0); border: 0px;" value="{{posts.title}}" readonly>
            <input class="form-control" name="Author" id="Author" style="background-color: rgb(100, 100, 100, 0.0); border: 0px;" value="{{posts.author}}" readonly>
            <input hidden tyoe="text" name="username" value="{{posts.username}}">
            <textarea class="form-control" name="Content" style="background-color: rgb(100, 100, 100, 0.0); border: 0px;" id="Content">{{posts.content}}</textarea>
            <input name="School" value="{{rep.school}}" hidden>
            <input type="submit" class="btn btn-primary" value="Approve">
        </form>
    </div>
    <br>
    <h2>Profile &amp; Settings</h2>
    <form class="form" name="form" action="/updaterep" method="post">
        Name:
        <input class="form-control" type="text" name="Name" value="{{rep.name}}">
        <br> School:
        <input type="text" name="school" class="form-control" value="{{rep.school}}" readonly>
        <br> Role/title:
        <input class="form-control" type="text" name="Role" value="{{rep.role}}">
        <br> Bio:
        <textarea class="form-control" name="Bio">{{rep.bio}}</textarea>
        <br> Email:
        <input class="form-control" name="Email" value="{{rep.email}}">
        <br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <br>
    <br>
    <form method="post" action="/logout">
        <input class="btn btn-secondary" type="submit" value="Logout" name="logout">
    </form>
</div>