<div class="container mt-5 pl-4">
    <h1 class="text-center">My
        <span class="font-weight-bold">Ambassador</span> Account</h1>
    <br>
    <h2>Write Post</h2>
    <form>
        Title:
        <input class="form-control" type="text" name="Title">
        <br> Post:
        <textarea class="form-control" name="content"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Submit for Approval</button>
    </form>
    <br>
    <h2>Profile &amp; Settings</h2>
    <form class="form">
        Name:
        <input class="form-control" type="text" name="Name" value="{{ambassador.name}}">
        <br> Expected year of graduation:
        <input class="form-control" name="gradYear" type="text" value="{{ambassador.gradYear}}">
        <br> Current year in college:
        <input class="form-control" type="text" name="year" value="{{ambassador.year}}">
        <br> Major:
        <input class="form-control" name="major" type="text" value="{{ambassador.major}}">
        <br> Email:
        <input class="form-control" type="email" value="{{ambassador.email}}" name="Email">
        <br> Bio:
        <textarea class="form-control" name="Bio" value="{{ambassador.bio}}"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>