<div class="container mt-5 pl-4">
    <h1 class="text-center">
        <span class="font-weight-bold">{{rep.name}}</span>
    </h1>
    <br> School: {{rep.school}}
    <br> Role/title: {{rep.role}}
    <br> Email: {{rep.email}}
    <br> Bio: {{rep.bio}}
</div>