<div class="container mt-5 pl-4">
    <h1 class="text-center">
        <span class="font-weight-bold">{{ambassador.name}}</span>
    </h1>
    <br>
    <br> School: {{ambassador.school}}
    <br> Expected year of graduation: {{ambassador.gradYear}}
    <br> Current year in college: {{ambassador.year}}
    <br> Major: {{ambassador.major}}
    <br> Email: {{ambassador.email}}
    <br> Bio: {{ambassador.bio}}
</div>