<div class="container mt-5 pl-4">
    <h1 class="text-center">
        <span class="font-weight-bold">{{student.name}}</span></h1>
    <br>
    Current year in high school: {{student.HSyear}}
    <br>
    High School: {{student.HighSchool}}
    <br>
    Expected year of admission: {{student.admissionYear}}
    <br>
    Email: {{student.email}}
</div>